@page
@model HotelApp.Web.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<head>
    <style>
        h1 {
            border-bottom: 1px solid #222;
            box-shadow: inset 0px 2px 0px 0px;
            padding: 5px 15px;
            font-weight: 700;
            text-shadow: 2px 2px 1px #222;
        }
        p {
            font-size: 18px;
            padding: 10px;
            letter-spacing: 2px;
            text-shadow: 1px 1px 2px #222;
        }
        h4 {
            border-bottom: 1px solid #222;
            box-shadow: 0px 1px 0px 0px;
            padding: 1px 15px;
            font-weight: 700;
            text-shadow: 1px 2px 0px #222;
        }
    </style>
</head>
<div style="padding:7rem 3rem;">
    <h1>About US</h1><br /><br />
    <p>
        Welcome to OHMS, your number one source for all hotel bookings.<br />
        We're dedicated to giving you the very best of our service, with a focus on
        comfort, sanitization, security and fun.<br />
        Founded in 2020 by Mr.Aman Verma, OHMS has come a long way from its beginnings in
        Rajpura. When Mr. Verma first started out, his passion for "fun-outdoor-stays"
        drove him to go on this journey Punjab and Haryana, and are thrilled that we're able to turn
        our passion into this website.<br />
        I hope you enjoy the services as much as I enjoy offering them to you. <br />
        If you have any questions or comments, please don't hesitate to contact.<br />  <br />
        Sincerely,
    </p>
    <h4>Aman Verma</h4>
</div>
